.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .navbar ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #03080e;
  }
  